@import "bower-import.scss";
@import "variables.scss";

a {
  > button {
    width: 100%;
  }
}

button,
.button {
  cursor: pointer;
  padding: 12px 16px;
  min-width: 150px;
  @include display(flex);
  font-size: 14px;
  text-align: center;
  background: transparent;
  outline: 0px;
  border: 1px solid $blue-primary;
  @include border-radius(4px);
  @include transition(all 0.2s linear 0s);

  > .wrapper {
    width: 100%;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    > .label {
      color: $blue-primary;
      text-transform: uppercase;
      @include transition(all 0.2s linear 0s);
    }

    > .image-container {
      margin-left: 8px;
      height: 16px;
      min-height: 16px;
      width: 16px;
      min-width: 16px;

      > svg {
        height: 16px;
        min-height: 16px;
        width: 16px;
        min-width: 16px;
        fill: $blue-primary;
      }
    }
  }


  &.hide-icon {
    > .wrapper {
      .image-container {
        display: none;
      }
    }
  }

  &.hide-text {
    > .wrapper {
      .label {
        display: none;
      }
    }
  }

  &.circle {
    padding: 0px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    @include border-radius(23px);

    &:hover {
      border: 1px solid rgba($light-gray-tertiary, 1.0);
    }

    &:active {
      box-shadow: inset 0px 3px 11px 0px #DADCED;
    }

    > .wrapper {

      > .image-container {
        margin: 0px;
      }
    }
  }

  &.small {
    padding: 6px 12px;
    min-width: 74px;
    font-size: 12px;
    @include border-radius(2px);

    .image-container {
      svg {
        height: 12px;
        width: 12px;
      }
    }
  }

  &.large {
    padding: 12px 20px;
    min-width: 100px;
    font-size: 14px;
  }

  &.round {
    @include border-radius(20px);
  }

  &.link {
    padding: 0px;
    min-width: 0px;
    color: rgba($blue-octornary, 0.5);
    border-color: transparent;
  }

  &.transparent {
    background: transparent;
    border-color: transparent;
  }

  &.black-primary {
    background: $black-primary;
    border-color: $black-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-secondary {
    background: $black-secondary;
    border-color: $black-secondary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-secondary-40 {
    background: $black-secondary-40;
    border-color: $black-secondary-40;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-secondary-60 {
    background: $black-secondary-60;
    border-color: $black-secondary-60;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-secondary-65 {
    background: $black-secondary-65;
    border-color: $black-secondary-65;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-tertiary {
    background: $black-tertiary;
    border-color: $black-tertiary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-quaternary {
    background: $black-quaternary;
    border-color: $black-quaternary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-quinary {
    background: $black-quinary;
    border-color: $black-quinary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.black-senary {
    background: $black-senary;
    border-color: $black-senary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.transparent {
    background: transparent;
    border: 1px solid rgba($light-gray-tertiary, 1.0);

    &:hover {
      border: 1px solid rgba($light-gray-tertiary, 1.0);
    }

    > .wrapper {

      .label {
        color: $black-primary;
      }

      .image-container {
        > svg {
          fill: rgba($gray-twelvary, 1.0);
        }
      }
    }

  }

  &.white-primary {
    background: $white-primary;
    border: 1px solid rgba($light-gray-tertiary, 0.5);

    &:hover {
      border: 1px solid rgba($light-gray-tertiary, 1.0);
    }

    > .wrapper {

      .label {
        color: $black-primary;
      }

      .image-container {
        > svg {
          fill: rgba($gray-twelvary, 1.0);
        }
      }
    }


    &.clear {
      background: transparent;
      border: 1px solid $white-primary;

      &:hover {
        border: 1px solid $white-primary;
      }
    }

  }

  &.white-secondary {
    background: $white-secondary;
    border-color: $black-primary;

    > .wrapper {

      .label {
        color: $black-primary;
      }

      .image-container {
        svg {
          color: $black-primary;
        }
      }
    }

  }

  &.white-tertiary {
    background: $white-tertiary;
    border-color: $black-primary;

    > .wrapper {

      .label {
        color: $black-primary;
      }

      .image-container {
        svg {
          fill: $black-primary;
        }
      }
    }

  }

  &.gray-primary {
    background: $gray-primary;
    border-color: $gray-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-secondary {
    background: $gray-secondary;
    border-color: $gray-secondary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-tertiary {
    background: $gray-tertiary;
    border-color: $gray-tertiary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-quaternary {
    background: $gray-quaternary;
    border-color: $gray-quaternary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-quinary {
    background: $gray-quinary;
    border-color: $gray-quinary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-senary {
    background: $gray-senary;
    border-color: $gray-senary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-septenary {
    background: $gray-septenary;
    border-color: $gray-septenary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-octonary {
    background: $gray-octonary;
    border-color: $gray-octonary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-nonary {
    background: $gray-nonary;
    border-color: $gray-nonary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.gray-denary {
    background: $gray-denary;
    border-color: $gray-denary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.light-gray-primary {
    background: $light-gray-primary;
    border-color: $light-gray-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.light-gray-secondary {
    background: $light-gray-secondary;
    border-color: $light-gray-secondary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.light-gray-tertiary {
    background: $light-gray-tertiary;
    border-color: $light-gray-tertiary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-primary {
    background: $blue-octornary;
    border-color: $blue-octornary;
    box-shadow: none;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

    &.circle {

      &:hover {
        background: $blue-fourteenary;
        border-color: $blue-fourteenary;
        box-shadow: none;
      }

      &:active {
        background: $blue-fifteenary;
        border-color: $blue-fifteenary;
        box-shadow: none;
      }
    }

  }

  &.blue-secondary {
    background: $blue-secondary;
    border-color: $blue-secondary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-tertiary {
    background: $blue-tertiary;
    border-color: $blue-tertiary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-quaternary {
    background: $blue-quaternary;
    border-color: $blue-quaternary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-quinary {
    background: $blue-quinary;
    border-color: $blue-quinary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-septenary {
    background: $blue-septenary;
    border-color: $blue-septenary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-octornary {
    background: $blue-octornary;
    border-color: $blue-octornary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-nonary {
    background: $blue-nonary;
    border-color: $blue-nonary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-denary {
    background: $blue-denary;
    border-color: $blue-denary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-gray-primary {
    background: $blue-gray-primary;
    border-color: $blue-gray-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-gray-secondary {
    background: $blue-gray-secondary;
    border-color: $blue-gray-secondary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-gray-tertiary {
    background: $blue-gray-tertiary;
    border-color: $blue-gray-tertiary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.blue-green-primary {
    background: $blue-green-primary;
    border-color: $blue-green-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.green-primary {
    background: $green-primary;
    border-color: $green-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.red-primary {
    background: $red-primary;
    border-color: $red-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.red-secondary {
    background: $red-secondary;
    border-color: $red-secondary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.red-senary {
    background: $red-senary;
    border-color: $red-senary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }

  &.orange-primary {
    background: $orange-primary;
    border-color: $orange-primary;

    > .wrapper {

      .label {
        color: $white-primary;
      }

      .image-container {
        svg {
          fill: $white-primary;
        }
      }
    }

  }


  &.tag {
    margin-right: 8px;
    padding: 0px;
    min-width: 0;
    //border: 1px solid rgba($blue-gray-primary, 0.15);

    > .wrapper {

      > .label {
        padding: 0px 8px;

        &,
        > * {
          text-transform: lowercase;
          font-size: 12px;
          line-height: 26px;
          color: $blue-gray-primary;
        }
      }
    }

  }



  &[disabled] {
    opacity: 0.15;
    background: $light-gray-secondary;
    border: 1px solid $light-gray-secondary;
  }
}
