<div class="board-import-modal-overlay modal-overlay flex-row"
     ng-class=" showModal ? 'show' : '' "
>

  <div class="board-import-modal modal flex-column"
       ng-class=" extraClasses "
  >

    <header class="flex-row">
      <span class="image-container">
        <svg class="icon upload">
          <use xlink:href="#upload"/>
        </svg>
      </span>

    </header>

    <h1 class="title">{{ board.boardName }}</h1>
    <p>Importing in Progress...</p>

    <div class="progress-bar flex-row"
         data-percent="{{ percent }}"
    >
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
      <span class="image-container">
        <svg class="icon circle">
          <use xlink:href="#circle"/>
        </svg>
      </span>
    </div>
  </div>

</div>
