<div class="modal-overlay flex-row fade"
     ng-class=" vm.showModal ? 'show' : '' "
     ng-has-overflow=""
     ng-click=" vm.closeModal() "
>

  <form name="cardModalForm"
        class="card-modal modal flex-column fade"
        ng-class=" { 'full-screen': vm.fullScreenEditor, 'saving': vm.isSaving, 'loading-embedly': vm.isLoadingFromEmbedly } "
        ng-submit=" vm.save(cardModalForm) "
        ngf-drop=" vm.filesAdded($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event) "
        ngf-change=" vm.filesAdded($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event) "
        ngf-multiple="true"
        ngf-allow-dir="false"
        ngf-drag-over-class="file-drop"
        ng-model-options=" { updateOn: 'change click drop dropUrl', allowInvalid: false, debounce: 0} "
        novalidate=""
        ng-click=" $event.stopPropagation() "
  >

    <div class="close image-container"
         ng-click=" vm.closeModal() "
    >
      <svg class="icon close">
        <use xlink:href="#close"/>
      </svg>
    </div>

    <header>
      <h1 ng-bind=" ( vm.action === 'edit' ? 'Edit' : 'New') + ' Card' "></h1>
    </header>

    <main>

      <div class="uploader field-group flex-column">
        <div class="dropper flex-column"
            ngf-select=" vm.filesAdded($files) "
            ngf-multiple="true"
        >
          <div class="image-container">
            <svg class="icon plus">
              <use xlink:href="#plus"/>
            </svg>
          </div>
        </div>
        <ul class="asset-list flex-row-wrap"
            data-count=" {{ vm.card.assetCount }} "
            ng-sortable=" vm.sortableOptions "
        >
          <li class="asset flex-column"
              ng-repeat=" asset in vm.assets "
              tp-asset=" asset.assetId "
              tp-asset-troop-id=" vm.card.troopId "
              tp-asset-file=" asset.file "
              tp-asset-external-url=" asset.image.url "
              tp-asset-embedly-image=" asset.image "
              tp-asset-index=" $index "
              tp-asset-size=" mediumUrl "
              tp-asset-info=" true "
              tp-asset-download=" false "
              tp-asset-rename=" false "
              tp-asset-remove=" true "
              tp-asset-remove-click=" vm.removeAsset(asset, $index) "
              tp-asset-show-menu=" false "
              tp-asset-icon-menu=" true "
              ng-style=" asset.style "
          ></li>
        </ul>

      </div>

      <div class="loader-wrapper flex-row">
        <div class="wrapper flex-column">
          <div class="loader-2 small"></div>
          <div class="message">
            <span ng-if=" vm.isSaving ">Saving...</span>
            <span ng-if=" vm.isLoadingFromEmbedly ">Importing URL...</span>
          </div>
        </div>
      </div>

      <div class="card-name field-group flex-row">
        <input name="cardName"
               placeholder="Title / URL"
               ng-class=" cardModalForm.cardName.$dirty && cardModalForm.cardName.$touched && cardModalForm.cardName.$invalid ? 'tp-invalid' : '' "
               ng-model=" vm.card.cardName "
               ng-model-options=" { debounce: 750 } "
               ng-change=" vm.cardNameBlur() "
               ng-blur=" vm.cardNameBlur($event) "
               ng-enter-key=" vm.cardNameBlur($event) "
               required=""
               autocomplete="off"
               ng-focus="vm.showModal"
        />

      </div>
      <div  class="flex-row"
            ng-if=" cardModalForm.cardName.$dirty && cardModalForm.cardName.$touched && cardModalForm.cardName.$invalid"
            ng-messages=" cardModalForm.cardName.$error "
      >
        <div class="error"
             ng-message="required"
        >
          Card Title is required
        </div>

      </div>

      <div class="editor textarea field-group flex-row">
        <div class="toolbar flex-column"
             ng-if=" vm.Me.isjhExperience "
        >
          <div class="tool full-screen-toggle image-container"
               ng-click=" vm.fullScreenEditor = !vm.fullScreenEditor"
          >
            <svg class="icon arrows-expand">
              <use xlink:href="#arrows-expand"/>
            </svg>
            <svg class="icon arrows-condense">
              <use xlink:href="#arrows-condense"/>
            </svg>
          </div>
          <div class="tool inject image-container"
               ng-class=" { 'has-content': !!vm.content } "
               ng-click=" vm.injectContent() "
          >
            <svg class="icon doc-arrow">
              <use xlink:href="#doc-arrow"/>
            </svg>
          </div>
          <div class="tool find-replace image-container"
               ng-class="{ show: vm.showFindReplace }"
               ng-click=" vm.showFindReplace = !vm.showFindReplace "
          >
            <svg class="icon find-replace">
              <use xlink:href="#find-replace"/>
            </svg>
            <div class="text-search flex-column"
                 ng-click=" $event.stopPropagation() "
            >
              <input placeholder="Find"
                     ng-model=" vm.textSearch.find "
                     ng-enter-key=" $event.preventDefault() "
              />
              <input placeholder="Replace"
                     ng-model=" vm.textSearch.replace "
                     ng-enter-key=" $event.preventDefault() "
              />
              <button class="blue-primary"
                      ng-click=" vm.findReplace($event) "
              >
                <div class="wrapper flex-row">
                  <span class="label">Replace</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <textarea name="description"
                  placeholder="Add a Description"
                  rows="1"
                  ng-set-focus=" vm.focus === 'description' "
                  data-msd-elastic=""
                  ng-model=" vm.card.description "
                  ng-keyup=""
                  autocomplete="off"
        ></textarea>

      </div>

      <div class="card-tags field-group flex-row">
        <input name="tags"
               placeholder="#tags"
               ng-model=" vm.tagString "
               autocomplete="off"
               ng-set-focus=" vm.focus === 'tags' "
        />
      </div>


    </main>

    <footer class="flex-row">
      <button class="blue-primary">
        <div class="wrapper flex-row">
          <span class="label">Save</span>
        </div>
      </button>
    </footer>
  </form>

</div>
