<div class="modal-overlay flex-row"
     ng-class=" showModal ? 'show' : '' "
     ng-click=" close() "
>

  <form name="gridViewSettingsModalForm"
        class="grid-view-settings-modal modal flex-column"
        novalidate="novalidate"
        ng-submit=" save(gridViewSettingsModalForm) "
        ng-click=" $event.stopPropagation() "
  >

    <div class="close image-container"
         ng-click="close()"
    >
      <svg class="icon close">
        <use xlink:href="#close"/>
      </svg>
    </div>

    <header>
      <h1>Grid View Settings</h1>
      <!-- <p>Customize the appearance of the grid view.</p> -->
    </header>


    <main>

      <div class="switch-group field-group flex-row">
        <label class="flex-column">
          <h1>Show Card Titles</h1>
        </label>
        <switch name="showTitle"
                class="blue"
                ng-model=" viewSettings.grid.showTitle "
                on="Show"
                off="Hide"
        ></switch>
      </div>

      <div class="switch-group field-group flex-row">
        <label class="flex-column">
          <h1>Show Non-Images</h1>
        </label>
        <switch name="showNonImages"
                class="blue"
                ng-model=" viewSettings.grid.showNonImages "
                on="Show"
                off="Hide"
        ></switch>
      </div>

    </main>


    <footer class="flex-row">

      <!-- <button class="cancel link">
        <div class="wrapper flex-row">
          <span class="label">Cancel</span>
        </div>
      </button> -->
      <button class="blue-primary">
        <div class="wrapper flex-row">
          <span class="label">Save</span>
        </div>
      </button>
    </footer>
  </form>

</div>
