<div class="modal-overlay flex-row"
     ng-class=" vm.showModal ? 'show' : '' "
     ng-click=" vm.closeModal() "
    >

  <form name="troopInviteModalForm"
        class="troop-invite-modal modal flex-column"
        novalidate="novalidate"
        ng-click=" $event.stopPropagation() "
  >

    <div class="back-arrow image-container"
         ng-click=" vm.goBackToChooseInviteType() "
        >
      <svg class="icon back">
        <use xlink:href="#back"/>
      </svg>
    </div>

    <div class="close image-container"
         ng-click="vm.closeModal()"
        >
      <svg class="icon close">
        <use xlink:href="#close"/>
      </svg>
    </div>

    <header>
      <h1>
        Invite to {{ vm.thisTroop }}
      </h1>
    </header>

    <main class="add-invite flex-column ">
        <div class="field-group flex-row"
             ng-repeat=" email in vm.emails track by $index "
        >
          <input name="email"
                 type="email"
                 placeholder="Email"
                 ng-class=" troopInviteModalForm.email.$dirty && troopInviteModalForm.email.$touched && troopInviteModalForm.email.$invalid ? 'tp-invalid' : '' "
                 ng-model=" vm.emails[$index] "
                 ng-focus=" vm.emailOnFocus() "
          />

          <div class="remove image-container"
               ng-click=" vm.removeEmail($index) "
               ng-if=" vm.emails.length > 1 "
          >
            <svg class="icon close">
              <use xlink:href="#close"/>
            </svg>
          </div>
        </div>
        <div class="flex-row"
             ng-if=" troopInviteModalForm.email.$dirty && troopInviteModalForm.email.$touched && troopInviteModalForm.email.$invalid "
             ng-messages="troopInviteModalForm.email.$error"
        >
          <div class="error"
               ng-message="email"
          >
            Your email must be valid
          </div>
        </div>

      <div class="add-another flex-row"
           ng-click=" vm.addAnother() "
      >
        <div class="member image-container"
        >
          <svg class="icon plus">
            <use xlink:href="#plus"/>
          </svg>
        </div>
        <p>Add another</p>
      </div>
    </main>

    <footer class="flex-row">

      <button class="blue-primary"
              ng-click=" vm.invite(troopInviteModalForm) "
      >
        <div class="wrapper flex-row">
          <span class="label">Invite Member</span>
        </div>
      </button>

    </footer>

  </form>

</div>
