<wrapper class="background-box">
  <div class="border-box flex-column">

    <div class="three-icons flex-row">
      <span class="file-type image-container flex-row">
        <svg class="icon ps-drag">
          <use xlink:href="#ps-drag"/>
        </svg>
      </span>
      <span class="file-type image-container flex-row">
        <svg class="icon pdf-drag">
          <use xlink:href="#pdf-drag"/>
        </svg>
      </span>
      <span class="file-type image-container flex-row">
        <svg class="icon ai-drag">
          <use xlink:href="#ai-drag"/>
        </svg>
      </span>
    </div>
    <span class="header">Drag & Drop</span>
    <span class="subtitle">your files here to upload them</span>

  </div>
</wrapper>
