<section class="faq page flex-column">

  <section class="left-sidebar"
  ></section>

  <section class="faqs">
    <h1>Frequently Asked Questions</h1>
    <div class="question">
      <h2>What is Troop?</h2>
      <p>Troop is a new platform team communication. It integrates a real-time chat system
         with a visual card and board based information model.</p>
    </div>

    <div class="question">
      <h2>Who is Troop for?</h2>
      <p>Troop is designed for groups of all sizes — from business teams to entire organizations.
         It can even be used by families or groups of friends.</p>
    </div>

    <div class="question">
      <h2>What makes Troop Different?</h2>
      <p>Troop is entirely based on a new universal concept of cards and boards. Every piece of
         group information — ideas, leads, clients, email chains, photos, videos and file attachments
         are all neatly organized in a common collaborative structure.</p>
    </div>

    <div class="question">
      <h2>Is Troop a CRM?</h2>
      <p>Troop can be used as a fully functional, stand-alone CRM. It’s universal card structure
         allows you to track and annotate leads through the entire sales funnel. You can add multiple emails
         to any card, click to email, and the entire email chain is recorded.</p>
    </div>

    <div class="question">
      <h2>What is a Board?</h2>
      <p>A board is a general way to organize group content. Multiple people can contribute content to a board
         in the form of “cards”. These cards are like Facebook posts and  contain text, images, and other
         file attachments. They can be tagged, sorted and re-arranged like slides in a Powerpoint presentation.</p>
    </div>

    <div class="question">
      <h2>How is a Troop organized?</h2>
      <p>As a Troop owner you define the structure of your team -- and organize the Troop Members into groups.
         Every troop member sees the same organization -- when they join the troop they can click on any of the
         members, see their profile, and see all the group projects they have authored.</p>
    </div>

    <div class="question">
      <h2>How much does Troop cost?</h2>
      <p>Troop comes in Free and Pro version. Free allows you to create up to 10 projects, with 100 cards
         and 1 GB of storage. Pro versions come with unlimited projects, unlimited cards and various amounts
         of storage and support.</p>
    </div>

  </section>



</section>