<div class="wrapper flex-column">
  <h3>Create Your First Troop Today</h3>

  <p>Traditional group tools are based on chat channels and email lists. Troop takes a completely different approach -- using digital cards and boards for rich collaboration.</p>
  <li class="nav-item sign-up flex-row">
    <a ui-sref="auth.login"
       class="button blue-primary"
    >
      <div class="wrapper">
        <div class="label">
          Log In
        </div>
      </div>
    </a>
  </li>
</div>
<div class="wrapper flex-row">
  <!-- <div class="troop-logo image-container item">
    <svg class="icon troop-logo">
      <use xlink:href="#troop-logo"/>
    </svg>
  </div> -->


  <span>2016 Troop. Inc. All Rights Reserved.</span>



  <span class="flex-spacer">&nbsp;</span>
  <div class="legal-wrapper flex-row">
    <a href="/terms">Terms &amp; Conditions</a>
    <a href="/privacy">Privacy Policy</a>
  </div>

  <!-- <a class="facebook image-container"
     href="https://www.facebook.com/troophq/"
     target="_blank"
   >
    <svg class="icon">
      <use xlink:href="#facebook"/>
    </svg></a>

  <a class="twitter image-container"
     href="https://twitter.com/troopcentral"
     target="_blank"
  >
    <svg class="icon">
      <use xlink:href="#twitter"/>
    </svg></a> -->
</div>
