
<section class="flex-row section-one">

  <!--<div class="play image-container"-->
       <!--ng-click=" vm.showAssetModal() "-->
  <!--&gt;-->
    <!--<svg class="icon play">-->
      <!--<use xlink:href="#play"/>-->
    <!--</svg>-->
  <!--</div>-->

  <div class="earth-map-dots image-container">
    <svg class="icon earth-map-dots">
      <use xlink:href="#earth-map-dots"/>
    </svg>
  </div>

  <div class="wrapper flex-row">

    <div class="tagline-container flex-column">

      <h3>Are You Ready To Get Organized?</h3>

      <p>The best way to manage your projects, your team, your life</p>

      <ul class="nav-list flex-row">

        <li class="nav-item sign-up flex-row">
          <a ui-sref=" auth.sign-up "
             class="button blue-primary"
          >
            <div class="wrapper">
              <div class="label">
                Sign up for <b>FREE</b>
              </div>
            </div>
          </a>
        </li>
      </ul>

    </div>

  </div>

  <div class="video-container flex-row">
    <div class="image-container">
      <img src="https://troop-prod-main.s3.amazonaws.com/user15/-KRoiGzhnPE9uyv_Vh9y_original_homepageNew.png"/>
    </div>
    <div class="play-button"
         ng-click=" vm.showAssetModal() "
    >
      <div class="play-image-container">
        <img src="https://troop-prod-main.s3.amazonaws.com/user15/-KNnPw5kOMZvPvoelKDc_original_playBtn.png" />
      </div>
    </div>
  </div>
</section>

<section class="flex-row section-two">

  <div class="wrapper flex-column">

    <!-- <div class="image-container">
      <img src="https://troop-prod.s3.amazonaws.com/02080b44-ceb6-41d6-82df-39e5f0fe82e5/-KGOgu_zitrWNYZfiU78_original_introImage.png"/>
    </div> -->
    <h1>Say Goodbye to Files and Folders</h1>
    <p>
      and say hello to boards and cards
    </p>

  </div>

</section>

<section class="flex-row section-three">

  <div class="wrapper flex-row">

    <div class="flex-column">
      <h1>Organize Everything</h1>
      <p>
        Organize your ideas, leads, contacts, and everything else in a simple drag and drop interface.
      </p>
    </div>

    <div class="image-container">
      <img src="https://troop-prod-main.s3.amazonaws.com/user15/-KRoh7-wRTGyedg6EZ9W_original_Comp3.png"/>
    </div>


  </div>

</section>

<section class="flex-row section-four">

  <div class="wrapper flex-row">


    <div class="image-container">
      <img src="https://troop-prod-main.s3.amazonaws.com/user15/-KNsMQ-kihF3XfB7fdDZ_original_Section4Comp.png"/>
    </div>

    <div class="flex-spacer">&nbsp;</div>

    <div class="flex-column">
      <h1>Multiple Views</h1>
      <p>
        Unlike files and folder systems, Troop gives you visual access to your data. Move things around in grids or look at your cards in full detail with hi-res images.
      </p>
    </div>
  </div>
</section>

<!-- <section class="flex-row section-three doc-view">

  <div class="wrapper flex-row">

    <div class="flex-column">
      <h1>Create Simple, Beautiful Documents</h1>
      <p>
        Customize your boards with Grid, List, and Document views depending on the use.
      </p>
    </div>

    <div class="image-container">
      <img src="https://troop-prod-main.s3.amazonaws.com/user15/-KNsRt75izqdz8sgtca9_original_Section5Comp.png"/>
    </div>


  </div>

</section> -->

<section class="flex-row section-three">

  <div class="wrapper flex-row">

    <div class="flex-column">
      <h1>Collaboration at the Card Level</h1>
      <p>
        Go beyond chat channels and take your conversations to the card level. When anybody adds a note to a card in a board you follow -- you get an alert.
      </p>
    </div>

    <div class="image-container">
      <img src="https://troop-prod-main.s3.amazonaws.com/user15/-KNsRt74UAPCRViVPHbv_original_Section6Comp.png"/>
    </div>

    <div class="flex-spacer">&nbsp;</div>


  </div>
</section>

<!-- <section id="mobile-apps"
         class="flex-row"
>

  <div class="wrapper flex-row">

    <div class="flex-column">
      <h1>Full-Featured Native Mobile Apps</h1>
      <p>
        Our free mobile apps offer the full feature set of Troop on all platforms. Everything syncs with the cloud in real time. See who is online and who is not - across your entire organization.
      </p>
      <div class="actions flex-row">

        <a class="button black-primary"
           href="https://itunes.apple.com/us/app/troop-app/id1025705328?mt=8"
           target="_blank"
        >
          <div class="wrapper flex-row">
            <img src="https://troop-prod.s3.amazonaws.com/62f92546-2393-4316-8896-d22b485cbede/-KG16E-hLXzEcStYnfGQ_original_app-store.png">
          </div>
        </a>
       <div class="flex-spacer">&nbsp;</div>
        <a class="button black-primary"
           href="https://play.google.com/store/apps/details?id=work.troop.troop"
           target="_blank"
        >
          <div class="wrapper flex-row">
            <img src="https://troop-prod.s3.amazonaws.com/62f92546-2393-4316-8896-d22b485cbede/-KG16E-oNk8SyTsZl2wN_original_google-play.png">
          </div>
        </a>


      </div>
    </div>

    <div class="flex-spacer">&nbsp;</div>

    <div class="image-container">
      <img src="https://troop-prod.s3.amazonaws.com/02080b44-ceb6-41d6-82df-39e5f0fe82e5/-KGIXSru1eibL9rXkYbQ_original_iphone.png"/>
    </div>

  </div>
</section> -->
