<section class="jobs page flex-column">

  <section class="left-sidebar"
  ></section>

  <section class="jobs">

    <div class="job">
      <h2>Account Manager - Santa Monica CA</h2>
      <p>The Account Manager ensures the successful adoption and use of Slack across our customer base. This role is the primary point of contact for customers and prospects and also handles all escalation management to the appropriate internal groups.</p>
      <button></button>

    </div>

    <div class="job">
      <h2>Customer Experience Agent - Santa Monica CA</h2>
      <p>As a Customer Experience Agent for Slack, your task is to make our customers successful. This is a demanding role that requires a broad skillset. Not only will you be directly responsible for keeping Slack's customers happy and productive, but you will also spend time working with the development team to test new features before release. Your job is to ensure that Slack's customers have the best experience possible.</p>
      <button></button>

    </div>

    <div class="job">
      <h2>Android Engineer - Raleigh NC</h2>
      <p>We're looking for people who are passionate about creating great Android applications. Are you as comfortable composing efficient layouts that work well across various screen sizes and densities as you are debugging performance issues in the persistence layer? Then we need you!</p>
      <p>You've been around for a few API levels and you know how to delight Android users. Use your extensive knowledge of building applications across a wide array of Android devices to make the Slack experience on Android be the best it can possibly be. Slack on Android is used by tens of thousands of people every day - we need engineers who want to make that experience as enjoyable as possible.</p>
      <button></button>

    </div>

    <div class="job">
      <h2>Android Engineer - Raleigh NC</h2>
      <p>The Account Manager ensures the successful adoption and use of Slack across our customer base. This role is the primary point of contact for customers and prospects and also handles all escalation management to the appropriate internal groups.
      </p>
      <button></button>

    </div>


  </section>
</section>
