<section class="flex-column-wrap pricing-one">

  <img class="bg" src="../images/home/pricing-bg.png" alt="" />

  <div class="tagline-container">
    <h3>Plans & Pricing</h3>
  </div>

</section>

<section class="flex-column pricing-body">
  <div class="flex-row pricing-plans">
    <div class="flex-column pricing-col-one">

      <div class="pricing-grade free">Free</div>
      <div class="amount">
        <h1>$0</h1>
        <p>/MONTH</p>
      </div>
      <ul>
        <li>Create up to 25 Multi-User Boards</li>
        <li>Search and Browse up to 5k mostçrecent messages</li>
        <li>Store up to 1 GB of Assets (Photos,<br/> Files, etc..)</li>
        <li>Email Tech Support</li>
      </ul>
      <button>Sign Up</button>
    </div>
    <div class="flex-column pricing-col-two">

      <div class="pricing-grade professional">
        <h5>Professional</h5>
      </div>
      <div class="amount">
        <h1>$8</h1>
        <p>/MONTH</p>
      </div>
      <ul>
        <li>Everything in Free and</li>
        <li>Unlimited Multi-User Boards</li>
        <li>Unlimited Searchable archives</li>
        <li>Simple usage statistics</li>
        <li>Guest Access</li>
        <li>9-5 Human Tech Support</li>
      </ul>
      <button>Sign Up</button>
    </div>
    <div class="flex-column pricing-col-three">

      <div class="pricing-grade enterprise">Enterprise</div>
      <div class="amount">
        <h1>$20</h1>
        <p>/MONTH</p>
      </div>
      <ul>
        <li>Everything in Professional and</li>
        <li>Strongly encrypted</li>
        <li>Custom Themes for Boards</li>
        <li>Compliance exports of all <br/>messaging history</li>
        <li>24/7 Human Customer Support</li>
      </ul>
      <button>Sign Up</button>

    </div>
  </div>

  <!--<div>-->
    <!--<h2>Included with All Plans</h2>-->
    <!--<div class="spacer"></div>-->
  <!--</div>-->

<!--  set max-height so they only stack 3 tall  -->
  <!--<div class="selling-points">-->
    <!--<ul>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Free IOS and Android Apps-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Team directory by function-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Location based services-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Archive and retrieve cards and boards-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Export and import boards as zip files-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Ability to save data as name / value tags-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Private boards-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Admin-only write boards-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="blue-check" alt=""/>-->
        <!--Unified Notifications-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->


</section>