
<section class="flex-column-wrap section-one">

  <div class="center-text">
    <h1>Intuitive, Powerful & Built For Teams</h1>
  </div>
  <img class="bg" src="images/home/product-bg.png" alt="" />

</section>

<section class="flex-row-wrap section-two">

  <div class="text-block flex-column">
    <h3>Collaborate with Group Boards</h3>
    <span class="horizontal-line"></span>
    <p>Create your own documents right within Troop with our card-based <br/>
      boards. Imagine Trello and Pinterest meet Google Docs. <br/>
      Everything stays in Troop. Multiple people can work on the same <br/>
      projects. It’s completely new way of doing things.</p>
  </div>

  <div class="img-gif flex-column">
    <img class="map-icon" src="/images/home/collaborate-with-group.png"/>
  </div>

</section>

<section class="flex-row-wrap section-three">

  <div class="img-gif flex-column">
    <img class="map-icon" src="/images/home/board-files.png"/>
  </div>

  <div class="mini-text-block-container flex-column left">
    <div class="text-block-mini">
      <h4>Push Notification</h4>
      <p>Get instant mobile updates when something <br/>
        happens in your Troop. Turn notifications on <br/>
        and off by channel.</p>
    </div>
    <div class="text-block-mini">
      <h4>Online Presence</h4>
      <p>See who is online and who is not - across your <br/>
        entire organization. It’s like Skype, but with a built <br/>
        in directory organized by groups.</p>
    </div>
    <div class="text-block-mini">
      <h4>Offline Mode</h4>
      <p>Open cards, boards abd files even when you are <br/>
        offline. Take pictures, create new cards - even with <br/>
        zero connectivity. Syncing is automatic.</p>
    </div>
  </div>

</section>

<section class="flex-row-wrap section-four">

  <div class="text-block flex-column">
    <h3>Collaborate with Group Boards</h3>
    <span class="horizontal-line"></span>
    <p>Create your own documents right within Troop with our card-based <br/>
      boards. Imagine Trello and Pinterest meet Google Docs. <br/>
      Everything stays in Troop. Multiple people can work on the same <br/>
      projects. It’s completely new way of doing things.</p>
  </div>

  <div class="img-gif flex-column">
    <img class="map-icon" src="/images/home/chat-view.png"/>
  </div>

</section>