<div class="wrapper flex-column">

  <h1>Getting Started</h1>
  <p>
    Welcome to Troop &mdash; a new way to get organized.  If you haven't already done so, make sure you check out both the Troop mobile apps (for iOS and Android) and the Troop web app, which you can sign into at www.troop.space.
  </p>
  <p>
    Creating a Troop account is free and fast. You will log in with your phone number and a password. All your data is available on both web and mobile.
  </p>

  <h2>The Basic Idea: Troops, Boards and Cards</h2>

  <p>
    Troop is based on a simple, but new idea of how to organize and share information. At the <span ng-click="highest()">highest</span>&nbsp;<span ng-click="level()">level</span>, a Troop is a group of people sharing information. These people can be either admins or just regular members. Admins can invite new members or remove people from the troop. Each Troop is organized into a set of Boards. Generally, everybody in the Troop can see every board, and, unless the board is read only, they can contribute to the board. Occasionally, you may decide to make a board private if you don't want everybody in the troop to see it.
  </p>

  <p>
    You will need to invite members to your board one by one if you do that. Finally, Boards consist of a number of Cards. A Card is somewhat like a Facebook Post or a Pinterest Pin &mdash; it contains a title, a description and multiple pictures. Unlike Facebook or Pinterest, it can also <span ng-click="contain()">contain</span> PDFs, Excel files or other attachments. A card can also pull its information (and link to) a URL or a YouTube video. Just enter the URL into the title field and hit enter.
  </p>

  <h2>The Help and Demo Troop</h2>

  <p>
    When you create an account on Troop, we'll automatically add you to two troops: Help and Demo. If you have any questions, go to the Help Troop and an admin will be able to help you out &mdash; generally in real time. There are also some video tutorials there which answer <span ng-click="frequently()">frequently</span> asked questions.  The Demo Troop shows a few examples of what kind of things you can do in Troop. These range from business applications (CRM, product management) to more <span ng-click="personal()">personal</span> uses (photos and videos). Be sure to check these out on the web as well as mobile.
  </p>

  <h2>Notifications and Chat</h2>

  <p>
    You can add notes on any card, you can chat on any board, or you can chat one to one with any troop member.  If something happens anywhere &mdash; you will get notified. A small red dot will appear next to the troop name, board name or member name where the action occurred.
  </p>

</div>
