@font-face {
  font-family: 'Avenir-Heavy';
  src: url('Avenir-Heavy.eot');
  src: url('Avenir-Heavy.eot?iefix') format('eot'),
  url('Avenir-Heavy.woff') format('woff'),
  url('Avenir-Heavy.ttf') format('truetype'),
  url('Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('Avenir-Medium.eot');
  src: url('Avenir-Medium.eot?iefix') format('eot'),
  url('Avenir-Medium.woff') format('woff'),
  url('Avenir-Medium.ttf') format('truetype'),
  url('Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('Avenir-Light.eot');
  src: url('Avenir-Light.eot?iefix') format('eot'),
  url('Avenir-Light.woff') format('woff'),
  url('Avenir-Light.ttf') format('truetype'),
  url('Avenir-Light.svg#Avenir-Light') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Heavy';
  src: url('open-sans-v13-latin-600.eot');
  src: url('open-sans-v13-latin-600.eot?iefix') format('eot'),
  url('open-sans-v13-latin-600.woff') format('woff'),
  url('open-sans-v13-latin-600.ttf') format('truetype'),
  url('open-sans-v13-latin-600.svg#open-sans-v13-latin-600') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: url('open-sans-v13-latin-regular.eot');
  src: url('open-sans-v13-latin-regular.eot?iefix') format('eot'),
  url('open-sans-v13-latin-regular.woff') format('woff'),
  url('open-sans-v13-latin-regular.ttf') format('truetype'),
  url('open-sans-v13-latin-regular.svg#open-sans-v13-latin-regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('open-sans-v13-latin-300.eot');
  src: url('open-sans-v13-latin-300.eot?iefix') format('eot'),
  url('open-sans-v13-latin-300.woff') format('woff'),
  url('open-sans-v13-latin-300.ttf') format('truetype'),
  url('open-sans-v13-latin-300.svg#open-sans-v13-latin-300') format('svg');
  font-style: normal;
  font-weight: normal;
}
