@import "../../../bower-import.scss";
@import "../../../variables.scss";

[data-state*="dashboard.troopMember.chat"] {

  [data-ui-view=dashboardRightSidebar] {
    z-index: 2;
    width: 0;
    min-width: 0;
    max-width: 0;
    height: 100%;
    @include justify-content(flex-start);
    overflow: hidden;
    background: $white-primary;
    @include transition(all 0.2s linear 0s);
    border: 0px;

    > header {
      position: relative;
      height: 166px;
      width: $right-sidebar-width - 1;
      min-width: $right-sidebar-width - 1;
      max-width: $right-sidebar-width - 1;
      // background:#05A6F7;


      > .background {
        z-index: -1;
        @include size(100%);
        left: 0px;
        top: 0px;
        position: absolute;

        > .profile-image {
          @include size(100%);
          @include border-radius(0px);

          > .asset {
            @include size(100%);

            > .asset-thumbnail {
              @include size(100%);
              @include border-radius(0px);


              &:before {
                opacity: 1;
              }

              > img {
                @include size(100%);
                filter: blur(8px);
              }

            }
          }
        }
      }

      > .profile-info {
        z-index: 1;
        @include all-width(100%);
        left: 0px;
        bottom: -30px;
        position:absolute;

        > .profile-image {
          @include border-radius(40px);
          margin-left:110px;
          margin-right:110px;
          @include css3-prefix('box-shadow', rgba(#50495B, 0.22) 0px 8px 16px 0px);

          &,
          > .asset,
          > .asset > .asset-thumbnail,
          > .asset > .asset-thumbnail > img {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
            height: 80px;
            min-height: 80px;
            max-height: 80px;

          }

          > .asset {

            &:hover {

              > .asset-thumbnail {
                opacity: 1;
              }
            }

            > .asset-thumbnail {
              overflow: hidden;
              border: 3px solid #FFFFFF;
              @include border-radius(40px);

              &:before {
                display: none;
              }

              &,
              > .upload-progress {
                @include border-radius(40px);
              }

              > img {
                margin: -2px 0px 0px -2px;
              }
            }
          }

        }


      }

    }

    > main {
      height: calc(100% - 166px);
      width: $right-sidebar-width - 1;
      min-width: $right-sidebar-width - 1;
      max-width: $right-sidebar-width - 1;
      @include flex-grow(1);
      overflow: scroll;
      padding-top:60px;
      padding-left:25px;
      padding-right:25px;

        &.profile-blurb {

          > .profile-id-text {
            padding-bottom: 37px;

            > .profile-name {
              > h2 {
                height: 20px;
                font-size: 24px;
                text-align: center;
                color: $blue-secondary;

              }
            }

            > .profile-title {
              > h3 {
                height: 20px;
                font-size: 13px;
                text-align: center;
                opacity: 0.5;
                color: $blue-gray-primary;
                padding-top:12px;
                line-height: 20px;
              }
            }

          }
          > .blurb {
            padding-top: 20px;

            &:before {
              width: 70px;
              height: 1px;
              background: $white-nonary;
              content: "";
              position: relative;
              top: -20px;
              margin-left: 90px;
            }
            > p {
              font-size: 14px;
              opacity: .7;
              color: $blue-secondary;
              text-align: left;
              line-height: 26px;
              font-family: $font-family-medium;

              > img {
                display:none;
              }
            }

            ul,
            ol {
              margin: 3px 0px 11px 0px;
              padding: 0px 0px 0px 22px;
              width: 100%;
              display: inline-block;


              li {
                margin: 0px;
                padding: 0px;
                line-height: 20px;
                font-size: 12px;
              }
            }

            ul {
              li {
                list-style-type: disc;
              }
            }

          }
        }

        > .loader-wrapper {
          overflow: hidden;
          //@include align-items(flex-start);

          > .wrapper {
            //@include transform(scale(0.5));

            &:before {
              //font-size: 20px;
            }

            > .loader-2 {

            }
          }

          > .breath {
            width: 100%;
            height: 100%;
            max-height: $right-sidebar-width;
            background: rgba($blue-octornary, 0.4); /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover, rgba($blue-octornary, 0.4) 0%, #ffffff 70%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, rgba($blue-octornary, 0.4) 0%, #ffffff 70%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, rgba($blue-octornary, 0.4) 0%, #ffffff 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{rgba($blue-octornary, 0.5)}', endColorstr='#ffffff', GradientType=1); /* IE6-9 fallback on horizontal gradient */

            @include animation-name(breath);
            @include animation-duration(3s);
            @include animation-timing-function(ease-out);
            @include animation-delay(0s);
            @include animation-iteration-count(infinite);
          }

          > .loader-walk {
            top: 60px;
            left: 90px;
            display: none;
          }
        }

    }

  }

  &.showing-profile-sidebar {

    [data-ui-view=dashboardRightSidebar] {
      width: $right-sidebar-width;
      min-width: $right-sidebar-width;
      max-width: $right-sidebar-width;

      overflow-x: visible;
      border-left: 1px solid rgba($light-gray-quaternary, 0.5);
    }
  }
}

@media only screen and (max-width:1024px) {

  [data-state*="dashboard.troopMember.chat"] {

    [data-ui-view="content"] {

      > section {
        position: relative;

      }
    }

    [data-ui-view=dashboardRightSidebar] {
      right: 0px;
      top: 0px;
      position: absolute;
    }
  }
}
