@import "../../../bower-import.scss";
@import "../../../variables.scss";

[data-state*="dashboard.boards.available"],
[data-state*="dashboard.boards.mine"] {

  [data-ui-view=dashboardHeader] {

    > .wrapper {

      > .nav-list {

        > .nav-item {
          width: 150px;
          &:first-of-type {
            width: 101px;
          }
        }
      }

      > .import-board {

        > button {

          color:$white-primary;
          @include justify-content(center);
          @include align-items(center);
          @include border-radius(25px);

        }
      }
    }

  }
}
