<section class="password-reset flex-column"
         ng-class=" { loading: isProcessing }"
         ng-has-overflow=""
>

  <div class="background image-container">

    <div class="earth-map-dots image-container">
      <svg class="icon earth-map-dots">
        <use xlink:href="#earth-map-dots"/>
      </svg>
    </div>

  </div>

  <a class="troop-logo image-container"
     ui-sref="home"
  >
    <svg class="icon troop-logo">
      <use xlink:href="#troop-logo"/>
    </svg>
  </a>

  <form name="passwordResetForm"
        ng-if=" ! formVals.passwordResetSuccess "
        class="password-list-modal modal embedded-modal flex-column"
        novalidate="novalidate"
        ng-submit="reset(passwordResetForm)"
  >
    <header class="drag-handle">
      <h1>Password Reset</h1>
    </header>

    <main>
      <p class="field-group flex-row"
         ng-class="{ 'error': ( ! isProcessing ) && ( formVals.errorMsg || ( passwordResetForm.password.$dirty && passwordResetForm.password.$touched && passwordResetForm.password.$invalid ) ) }"
      >
        <input placeholder="New Password"
               type="password"
               name="password"
               required=""
               ng-model=" formVals.$storage.newAccount.password "
               autocomplete="off"
        />
      </p>
      <div  class="flex-row"
            ng-if="( ! isProcessing ) && ( formVals.errorMsg || ( passwordResetForm.password.$dirty && passwordResetForm.password.$touched && passwordResetForm.password.$invalid ) )"
            ng-messages="passwordResetForm.password.$error"
      >
        <div class="error"
             ng-message="required"
        >
          Your Password is Required
        </div>
        <div class="error"
             ng-if=" formVals.errorMsg "
        >
          {{ formVals.errorMsg }}
        </div>
      </div>

    </main>

    <footer class="flex-row">
      <button class="blue-primary">
        <div class="wrapper flex-row">
          <span class="label">Reset</span>
        </div>
      </button>
    </footer>
  </form>

  <span class="reset-success flex-row"
        ng-if=" formVals.passwordResetSuccess "
  >
    Password successfully reset.
  </span>

</section>
